@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

*{

	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	scroll-behavior: smooth;
}

/*HEADER*/
.header{

	width: 100%;
	height: 80px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding: 0 50px;
	position: fixed;
	z-index: 10;
	background: #2C383F;
}

.header .logo a{

	font-family: 'Audiowide', cursive;
	font-size: 32px;
	color: #fff;
}

.header .botonesMenu ul{

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	list-style: none;
	font-size: 18px;
}

.header .botonesMenu ul li a{

	margin-right: 40px;
	color: #fff;
	position: relative;
}

.header .botonesMenu ul li a::before{

	content:'';
	width: 0;
	height: 3px;
	background: #fff;
	display: block;
	position: absolute;
	left: 50%;
	top: -10px;
	transition: .3s;
	border-radius: 50px;
}

.header .botonesMenu ul li a:hover::before{

	width: 100%;
	left: 0;
}

.header .botonesMenu ul li:nth-child(4) a{

	margin-right: 0;
}
/*FIN HEADER*/

/*INICIO PORTADA*/
.portada{

	height: 100vh;
	position: relative;
	background:-webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/fondo.jpg);
	background:-o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/fondo.jpg);
	background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/fondo.jpg);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.contenedorPortada{

	position: absolute;
	top: 40%;
	left: 8%;
}

.portada h1{

	color: #fff;
	font-size: 72px;
	margin-bottom: 10px;
}

.portada p{

	color: #fff;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 40px;
}

.portada a{

	color: #fff;
	font-size: 20px;
	padding: 20px 50px;
	border-radius: 5px;
	background: #33637F;
	transition: .6s;
}

.portada a:hover{

 	background: #2C6F96;
 }
/*FIN PORTADA*/

/*INICIO DESCRIPCION*/
.descripcion{

	width: 100%;
	background: #2C383F;
	padding: 130px 150px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.descripcion h2{

	color: #fff;
	font-size: 52px;
	margin-bottom: 50px;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.descripcion h2:before{

	content: '';
	width: 50%;
	height: 3px;
	background: #fff;
	display: block;
	position: absolute;
	left: 50%;
	bottom: -10px;
	transform: translate(-50%);
	border-radius: 50px;
}

.descripcion p{

	font-size: 26px;
	text-align: center;
	color: #fff;
}
/*FIN DESCRIPCION*/

/*INICIO SERVICIOS*/
.tituloServicio{

	width: 100%;
	background: #f2f2f2;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	/*flex-direction: column;*/
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.tituloServicio h2{

	text-align: center;
	font-size: 52px;
	color: #000;
	position: relative;
	margin-top: 100px;
	cursor: pointer;
}

.tituloServicio h2:before{

	content: '';
	width: 50%;
	height: 3px;
	background: #000;
	display: block;
	position: absolute;
	left: 50%;
	bottom: -10px;
	transform: translate(-50%);
	border-radius: 50px;
}

.servicios{
	
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	background: #f2f2f2;
}

.servicios .contenedorServicios{

	max-width: 1300px;
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;
	grid-row-gap: 50px;
	margin-bottom: 100px;
}

.servicios .item{
		
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
}

.servicios .item .textoServicio{

	padding: 150px 0px;
}

.servicios .item .textoServicio h3{

	font-size: 32px;
	cursor: pointer;
	margin-bottom:25px; 
}

.servicios .item .textoServicio p{
	
	font-size: 22px;
	font-weight: 300;
}

.servicios .item img{

	width: 500px;
	padding: 0 25px;
}

.oculto{

	display: none;
}
/*FIN SERVICIOS*/

/*INICIO PROPUESTA*/
.propuesta{

	width: 100%;
	min-height: 500px;
	background: #2C383F;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.propuesta h2{

	text-align: center;
	font-size: 52px;
	margin-bottom: 50px;
	color: #fff;
	position: relative;
	cursor: pointer;
}

.propuesta h2:before{

	content: '';
	width: 30%;
	height: 3px;
	background: #fff;
	display: block;
	position: absolute;
	left: 50%;
	bottom: -10px;
	transform: translate(-50%);
	border-radius: 50px;
}

.propuesta a{

	font-size: 20px;
	color: #fff;
	padding: 20px 50px;
	border:2px solid #fff;
	border-radius: 5px;
	transition: .6s;
}

.propuesta a:hover{

	background: #fff;
	color:#2C383F;
}
/*
.particula{

	position: absolute;
	width: 20px;
	transition: 3s;
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.particula1{
	top: 23%;
	left: 15%;
}

.particula2{
	bottom: 13%;
	left: 33%;
}

.particula3{
	top: 13%;
	left: 45%;
}

.particula4{
	bottom: 10%;
	left: 60%;	
}

.particula5{
	top: 25%;
	right: 23%;
	
}

.particula6{

	bottom: 23%;
	right: 15%;
}

.particula7{

	top: -33px;
	right: -20px;
	transform: rotate(70deg);
	width: 300px;
	animation: none;
}

.particula8{

	bottom: -33px;
	left: -20px;
	transform: rotate(70deg);
	width: 300px;
	animation: none;
}

@-moz-keyframes spin {

	100% {

		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {

	100% {

		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {

	100% {

		-webkit-transform: rotate(360deg); 
		transform:rotate(360deg);
	}
}*/
/*FIN PROPUESTA*/

/*INICIO FOOTER*/
footer{

	min-height: 300px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	background: #f2f2f2;
}

.redes a{
	
	color: #000;
	font-size: 18px;
	font-weight: 300;
	position: relative;
}

.redes a::before{

	content: '';
	width: 0;
	height: 3px;
	background: #000;
	display: block;
	position: absolute;
	left: 50%;
	bottom: -10px;
	transition: .3s;
	border-radius: 50px;
}

.redes a:hover::before{

	width: 100%;
	left: 0;
}

.redes a:nth-child(1)::before{

	background: #013366;
}

.redes a:nth-child(2)::before{

	background: #00ACEE;
}

.redes a:nth-child(3)::before{

	background: #512F2D;
}

.redes a:nth-child(2){

	margin: 0 50px;
}

footer p{

	margin-top: 50px;
}
/*FIN FOOTER*/

/*INICIO SCROLL BAR*/
::-webkit-scrollbar{

  width: 10px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb{

  border-radius: 0px;
  background:#33637F;
}
/*FIN SCROLL BAR*/

@media (min-width: 1025px) and (max-width: 1440px){

	/*INICIO SERVICIOS*/
	.servicios .item .textoServicio{

		padding: 150px 20px;
	}

	.servicios .item .textoServicio p{
		
		font-size: 21px;
	}

	/*INICIO PROPUESTA*/
	.propuesta{

		min-height: 430px;
	}
	/*FIN PROPUESTA*/

	/*INICIO FOOTER*/
	footer{

		min-height: 265px;
	}

	.redes a{
		
		font-size: 16px;
	}
	/*FIN FOOTER*/

}

@media (min-width: 861px) and (max-width: 1024px) {

	/*INICIO PORTADA*/
	.contenedorPortada{

		top: 35%;
	}

	.portada h1{

		font-size: 58px;
	}

	.portada p{

		font-size: 18px;
	}

	.portada a{

		font-size: 18px;
	}
	/*FIN PORTADA*/

	/*INICIO DESCRIPCION*/
	.descripcion{

		padding: 120px;
	}

	.descripcion h2{

		font-size: 48px;
	}

	.descripcion p{

		font-size: 22px;
	}
	/*FIN DESCRIPCION*/

	/*INICIO SERVICIOS*/
	.servicios .item{
			
		padding: 0 70px;
	}

	.servicios .item .textoServicio{

		padding: 80px 0px;
	}

	.servicios .item .textoServicio h3{

		font-size: 28px; 
	}

	.servicios .item .textoServicio p{
		
		font-size: 18px;
	}

	.servicios .item img{

		width: 400px;
		padding: 0 25px;
	}
	/*FIN SERVICIOS*/
	
	/*INICIO PROPUESTA*/
	.propuesta{

		min-height: 400px;
	}

	.propuesta h2{

		font-size: 48px;
	}

	.propuesta a{

		font-size: 18px;
	}
	/*FIN PROPUESTA*/

	/*INICIO FOOTER*/
	footer{

		min-height: 230px;
	}

	.redes a{
		
		font-size: 16px;
	}

	footer p{

		margin-top: 50px;
	}
	/*FIN FOOTER*/
}

@media (min-width: 700px) and (max-width: 860px) {

	/*INICIO HEADER*/
	.header .botonesMenu ul{

		font-size: 16px;
	}
	/*FIN HEADER*/

	/*INICIO PORTADA*/
	.contenedorPortada{

		top: 35%;
	}

	.portada h1{

		font-size: 54px;
	}

	.portada p{

		font-size: 16px;
	}

	.portada a{

		font-size: 16px;
	}
	/*FIN PORTADA*/

	/*INICIO DESCRIPCION*/
	.descripcion{

		padding: 100px;
	}

	.descripcion h2{

		font-size: 42px;
	}

	.descripcion p{

		font-size: 18px;
	}
	/*FIN DESCRIPCION*/

	/*INICIO SERVICIOS*/
	.tituloServicio h2{

		margin: 75px 0;
	}	
	.servicios .item{
			
		padding: 0 50px;
	}

	.servicios .item .textoServicio{

		padding: 40px 0px;
	}

	.servicios .item .textoServicio h3{

		font-size: 24px; 
	}

	.servicios .item .textoServicio p{
		
		font-size: 16px;
	}

	.servicios .item img{

		width: 360px;
		padding: 0 25px;
	}
	/*FIN SERVICIOS*/
	
	/*INICIO PROPUESTA*/
	.propuesta{

		min-height: 350px;
	}

	.propuesta h2{

		font-size: 42px;
	}

	.propuesta a{

		font-size: 16px;
		padding: 20px 35px;
	}
	/*FIN PROPUESTA*/

	/*INICIO FOOTER*/
	footer{

		min-height: 230px;
	}

	.redes a{
		
		font-size: 15px;
	}

	footer p{

		margin-top: 50px;
	}
	/*FIN FOOTER*/	
}

@media screen and (max-width: 699px) {

	/*HEADER*/
	.header{

		justify-content: center;
		padding: 0;
	}

	.header .logo a{

		width: 100%;
		text-align: center;
	}

	.header .botonesMenu ul{

		display: none;
	}
	/*FIN HEADER*/

	/*INICIO PORTADA*/
	.portada{

		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}

	.contenedorPortada{

		width: 100%;
		top: 32%;
		left: 0;
		right: 0;
		text-align: center;
	}
	.portada h1{

		font-size: 48px;
		margin-bottom: 20px;
		padding: 10px;
	}

	.portada p{

		font-size: 18px;
		margin-bottom: 50px;
		padding: 10px;
	}

	.portada a{

		font-size: 18px;
		background: #33637F;
	}
	/*FIN PORTADA*/

	/*INICIO DESCRIPCION*/
	.descripcion{

		padding: 80px 20px;
	}

	.descripcion h2{

		font-size: 32px;
		margin-bottom: 50px;
	}

	.descripcion p{

		font-size: 18px;
		line-height: 40px;

	}
	/*FIN DESCRIPCION*/

	/*INICIO SERVICIOS*/
	.tituloServicio h2{

		font-size: 32px;
		margin: 50px 0;
		padding: 0;
	}

	.servicios .contenedorServicios{

		grid-row-gap: 100px;
		margin-bottom: 100px;
	}

	.servicios .item{
			
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
		padding: 0 20px;
	}

	.servicios .item .textoServicio{

		padding: 0px;
	}

	.servicios .item .textoServicio h3{

		font-size: 28px;
	}

	.servicios .item .textoServicio p{
		
		font-size: 18px;
		line-height: 40px;
		margin: 25px 0;
	}

	.servicios .item img{

		width: 200px;
	}

	.oculto{

		display: block;
	}

	.visible{

		display: none;
	}

	.particula{

		display:none;
	}

	/*FIN SERVICIOS

	/*INICIO PROPUESTA*/
	.propuesta{
		
		padding: 100px 0;
		min-height: 0px;
	}

	.propuesta h2{

		font-size: 28px;
		margin-bottom: 50px;
	}

	.propuesta a{

		font-size: 14px;
	}
	/*FIN PROPUESTA*/

	/*INICIO FOOTER*/
	.redes{

		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		text-align: center;
	}

	.redes a{
		
		font-size: 18px;
		margin: 50px 0;
	}

	.redes a:nth-child(2){

		margin: 0;
	}

	footer p{

		margin: 0px 10px 50px 10px;
		text-align: center;
	}
	/*FIN FOOTER*/
}